.container{
  display: flex;
  flex-direction: column;

}
.header{
  display: flex;
  height:70px;
  background-color: teal;
}
.main{
  display: flex;
  padding: .5rem;
  /* flex-direction: column; */
  /* background-color: antiquewhite; */
}
.main--sidebar{
  display: flex;
  padding: 1rem;
  flex-direction: column;
  width: 25%;
  background-color:lightgray;
}
.main--view{
  display: flex;
  margin:0 .5%;
  width:75%;
  padding: 1rem;
  height: 70vh;
  background-color: lightgray;
}
button{
  /* background-color: lightcyan; */
  border-radius: 5px;
  padding: .5rem;
  font-weight: 700;
  /* color: aliceblue; */
}
.add-form{
  display: flex;
  
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* background-color: ghostwhite; */
}
.form-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-item >label {
  font-weight: 550;
}
.form-item >input{
  margin: .3rem;
  min-width: 250px;
  padding: .5rem;
  background-color: ghostwhite;
}
.submit-btn {
  background-color: blue;
  color: aliceblue;
  width: 5rem;
  border-radius: 5px;
}
.table {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  border: 1px solid #444;
}
.table >thead {
  border: 1px solid #222;
}
.table >thead>th  {
  padding: .5rem 1rem;
  border-left: 1px solid #555;
  /* background-color: aqua; */
}
.cell {
 padding: .3rem 1rem;
 border-left: 1px solid #888;
}
